@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Open+Sans&display=swap");
body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

.css-1nvnyqx-MuiPaper-root-MuiDrawer-paper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  background-color: transparent !important;
  box-shadow: none !important;
}
